.translatepress-en_CA main h1:after, .translatepress-fr_CA main h1:after {
    color: #f44336;
    font-weight: 600;
    padding-top: 28px;
    padding-left: 43px;
    font-size: 14px;
    width: 88px;
    height: 48px;
    background: url("https://img.icons8.com/color/48/rubber-duck.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    border-left: 20px solid white;
}

.page-id-143.translatepress-en_CA main h1:after {content: "Duck\00a0\0031"}
.page-id-143.translatepress-fr_CA main h1:after {content: "Canard\00a0\0031"}

.page-id-139.translatepress-en_CA main h1:after {content: "Duck\00a0\0032"}
.page-id-139.translatepress-fr_CA main h1:after {content: "Canard\00a0\0032"}

.page-id-15947.translatepress-en_CA main h1:after {content: "Duck\00a0\0033"}
.page-id-15947.translatepress-fr_CA main h1:after {content: "Canard\00a0\0033"}

.page-id-153.translatepress-en_CA main h1:after {content: "Duck\00a0\0034"}
.page-id-153.translatepress-fr_CA main h1:after {content: "Canard\00a0\0034"}

.page-id-23159.translatepress-en_CA main h1:after {content: "Duck\00a0\0035"}
.page-id-23159.translatepress-fr_CA main h1:after {content: "Canard\00a0\0035"}

.page-id-16671.translatepress-en_CA main h1:after {content: "Duck\00a0\0036"}
.page-id-16671.translatepress-fr_CA main h1:after {
    content: "Canard\00a0\0036";
    color: #f44336;
    font-weight: 600;
    right: 600px;
    font-size: 14px;
    width: 88px;
    height: 48px;
    background: url("https://img.icons8.com/color/48/rubber-duck.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    border-left: 20px solid transparent;
}
